# This is a .gitignore file for C projects
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
!*/
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# We use a BLACK-LIST for folders
[Bb]in/
[Oo]bj/
[Cc]ov_*/

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# We use a WHITE-LIST for files

# Repository files
!.git*
!*.md
!configure

# Building files
!Makefile
!*.mk
!make/*.sh

# Source files
!*.h
!*.c
!*.asm
!*.[Ss]

# Exceptions
